* :after,
:before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(#615dad, #ffc8da) no-repeat fixed;
  height: 100%;
}

#uvod {
  display: block;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.section {
  background-color: #283e50;
  width: 320px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: left;
}

.section h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 40px;
}

p {
  display: block;
  padding: 10px;
  text-align: left;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button1 {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
  padding: 20px 0;
}

.button2 {
  background-color: #0197f6;
  padding: 20px 0;
}

a {
  color: white;
  text-decoration: none;
}

.button1:hover {
  background-color: #1cbb96;
}
.button2:hover {
  background-color: #0090e9;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  margin: 10px 30px;
}

.rules {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 1.6;
  padding: 2rem, 5rem, 2rem, 5rem;
  margin: auto;
  margin-top: 5rem;
}

figcaption {
  padding: 0.5rem;
  text-align: center;
}

.icon,
.icon1 {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

.ukazky {
  width: 100%;
}

/*--------3.část------*/
.game {
  max-width: 80vmin;
  margin: 0 auto;
}

.game h1 {
  font-family: Lobster;
  padding-top: 35px;
  font-size: 50px;
  font-weight: 300;
  justify-content: center;
}

.game__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.game__status {
  display: block;
}
.game__menu--player img {
  filter: invert(100%);
  display: inline-block;
  position: relative;
  top: 3px;
}

#restart {
  top: 180px;
  position: inherit;
  padding: 4px;
  right: 250px;
}

#home {
  top: 180px;
  position: inherit;
  padding: 4px;
  right: 300px;
}

#zkouska {
  display: flex;
  padding: 10px;
  text-align: left;
  color: white;
  flex-direction: row;
  align-items: center;
}

/*#turn {
  width: 1.3rem;
  height: 1.3rem;
}*/

.info__icons {
  filter: invert();
  width: 1em;
  height: 1em;
  padding: inherit;
}

.game__field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;
}

.game__field--circle {
  background-image: url(circle.svg);
}
.game__field--cross {
  background-image: url(cross.svg);
}

.game__field button {
  background-color: rgb(248, 247, 247);
  width: 10%;
  height: 8vmin;
  opacity: 0.5;
  border: 1px solid black;
}

.game__field button:hover,
.game__fiels button:focus {
  background-color: rgb(248, 245, 245);
  opacity: 0.4;
}

@media (min-width: 800px) {
  #wrapper-index {
    max-width: 370px;
  }

  .obsah {
    max-width: 650px;
  }

  .preview {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    margin: 20px;
    flex: 0 0 calc(50% - 40px);
  }
}

.buttons__play {
  background-color: #0197f6;
  padding: 10px;
  text-align: right;
}

.buttons__rules,
.buttons__home {
  background-color: #1fcca4;
  padding: 10px;
  text-align: right;
}
